button:hover {
  background-color: #2980b9;
}

input[type='email'],
input[type='text'],
input[type='password'] {
  color: black;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
}

.signUp-button {
  margin: auto;
  color: black;
  border: solid black 2px;
  background-color: violet;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.signUp-card{
  margin:auto;
  height:350px;
  width:600px;
}

@media only screen and (max-width: 650px) {
.signUp-card,.signUp-button ,
input[type='email'],
input[type='text'],
input[type='password'] {
width: 90%;
}
}

